h1 {
    font-size: 25px;
}

.weather-app {
    width: 375px;
    height: 812px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    
  
    .background-image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    
  }

img {
    width: 100px;
    height: 100px;
}

.information-section {
    position: absolute;
    height: 650px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    color: #f0f8ff;
    text-shadow: 1px 1px 2px black;
}

.weather-header {
    text-align: center;
    width: 100%;
    height: 20%;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.temp-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: 10px;
}

.extended-info {
    margin: 10px;
}

.credit {
    position: absolute;
    bottom: 50px;
}